<h1>Blah-G.</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
    <%=link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, :id => "new-article",  :class => "new_article"%>
